html,
body,
header,
#intro {
    height: 100%;
    margin: 0;
    padding: 0;
    
}
nav
{
  border-bottom: 1px solid gray;
  
}
 .navbar-dark{
   padding: 0;
 }
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding: 25px;
  font-weight: 700;
  font-size: large;
}
.navbar-nav
{
  margin: 0;
  
  background-color: #0b132b;
}
.navbar-dark .navbar-nav .nav-link:hover
{
  background-color: #1b3b6f;
  color: white;
}
.navbar-dark .navbar-nav .nav-link:focus
{
  color: white;
}
.bg-dark
{
  background-color:  white !important;
  
}

.intro
{
  height: 10vh;
  text-align: center;
  background-color: #1c2541;
  font-size: 100px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading
{
  padding-top: 100px;
  text-align: center;
  background-color: #1c2541;
  color: white;
  font-size: 100px;
  height: 100%;
  
}

.first
{
  
  text-align: center;
  border-radius: 10px;
  
  background-color: #ffbc42;
  padding-top: 20px;
  transition-duration: 500ms;
}


.second
{
  
  background-color: #bf0603;
  
  text-align: center;
  transition-duration: 500ms;
  border-radius: 10px;
  padding-top: 20px;
}
.third
{
  
  
  background-color: #08a045;
  text-align: center;
  transition-duration: 500ms;
  border-radius: 10px;
  padding-top: 20px;
}
.total
{
  font-size: 100px;
  transition-duration: 250ms;
  font-family: 'Open Sans', sans-serif;
}

.world
{
  text-align: center;
  background-color: #1c2541;
  color: white;
  font-size: 50px;
  height: 100%;
}

iframe
{
  width: 100%;
  height: 100%;
}
.modal
{
  
  margin: 10px;
}
textarea, input
{
  width: 100;
  margin-left: 1px;
}



/*  FOOTER */

/* FOOTER DIV STARTS HERE */
footer
{
  height: 20vh;
  margin-top: 20px;
  background-color: #1a0033;
  color: white;
  /* column-rule-color: white; */
}
hr
{
  background-color: white;
}
.copyright
{
  text-align: center;
}



.modal-title
{
  
  text-align: right;
  color: black;
}
.modal-header
{
  background-color: cornsilk;
}



.success, .error, .info {
  color: white;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  
  
}

.success {
  background: green;
}

.info {
  background: orange;
  
}

.error {
  background: red;
}


/* Media queries*/

@media (max-width: 500px)
{
  .d-flex 
  {
    display: inline-block;
  
  }
  .first, .second, .third
  {
    display: inline-block;
    float: none;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 30px;
  }
}